.nav-link {
  margin: 7px;
}
.header-logo {
  margin-right: 40px;
  margin-left: 10px;
}
.bgimage {
  width:100%;
  height:600px;
  background: url('https://images.unsplash.com/photo-1540670492524-0eef68c090bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  
}
.flex {
  display: flex;
  align-items: center;
}
.display-block {
  display: inline-block;
}
.bgimage h5 {
  color:white;
  text-shadow:2px 2px #333;
}
.box-icon {
  background-color: red;
}
.box {
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  border-radius: 5px;

}
.heading {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*Bulma  */
.navbar {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
}

.hero-bild {
  text-align: center;
  background-position: center;
  background-size: cover;
}

.hero-bild-inner {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: rgba(0, 0, 0, 0.26);
}

.icons-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.icons-inline-mr {
  margin-right: 1rem;
}
.selected {
  border-top: 3px solid hsl(217, 71%, 53%);
  
}

.button-text {
  font-weight: 600;
  margin-right: 0.6em;
}

.box-icon {
  border-radius: 50%;
  padding: 0.6rem;
  color: #fff;
  position: absolute;
  margin-top: -35px; 
  margin-left: -35px;
}

.box-heading {
  font-weight: 600;
  font-size: 1.15em;
  margin-bottom: 0.5em;
}

.kunden {
  text-align: center;

  img {
    padding: 2em;

    &:hover {
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
    }
  }
}

.big-icon {
  background-color: #43a047;
  padding: 0.5em;
  border-radius: 50%;
  color: #fff;
  font-size: 2em;
  margin-bottom: 1em;
}

.bild-unterschrift-kachel-rechts {
  padding: 1em;
  text-align: center;
  margin-top: -35px;
  right: 2em;
  position: absolute;
  color: #fff;
  font-weight: 600;
  border-radius: 2px;
}

.bild-unterschrift-kachel-links {
  padding: 1em;
  text-align: center;
  margin-top: -35px;
  left: 2em;
  position: absolute;
  color: #fff;
  font-weight: 600;
  border-radius: 2px;
}
.provenundtext {
  text-align: left !important;
}
.provenexpert {
  padding: 0px !important;
  position: relative;
}
.ul-styling {
  list-style-type: none; 

}
.center {
  text-align: center;
}
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .navbar {
    height: 4rem;
  }

  .hero-bild-inner {
    padding-top: 14rem;
    padding-bottom: 14rem;
  }
  .center {
    text-align: center;
  }
}

@media (min-width: 1200px) {
}
